.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background-color: dodgerblue;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 60px;
  transition: all 100ms ease-in;
  width: 150px;
}

.button:active {
  background-color: blue;
}

.button:focus {
  outline: 0;
}

.spacer {
  background-color: gray;
  height: 100vh;
}
